.background-image-home{
    background-image: url('../img/background_img/background_image_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-informatiker{
    background-image: url('../img/background_img/background_image_informatiker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-basislehrjahr{
    background-image: url('../img/background_img/background_image_basislehrjahr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-sonova{
    background-image: url('../img/background_img/background_image_sonova.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.background-image-tipps{
    background-image: url('../img/background_img/background_image_tipps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-custom {
    background-color: darkblue;
}

.Home-Text {
    text-align: center; 
}

.banner {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
    background: url(../img/background_image_06.jpg);
	background-size: cover;
	margin-bottom: 0;
}

.contentBox h1 {
	font-weight: 650;
	color: #fff;
	text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
}
.footer-custom {
    background-color: darkblue;
}
.footer-text {
    color: white;
}
.deco-img {
    align-content: center; 
}