.background-image-home{
    background-image: url('../img/image_background/background_image_home.jpg');
}

.background-image-informatiker{
    background-image: url('../img/image_background/background_image_informatiker.jpg');
}

.background-image-basislehrjahr{
    background-image: url('../img/image_background/background_image_basislehrjahr.jpg');
  
}

.background-image-sonova{
    background-image: url('../img/image_background/background_image_sonova.jpg');

}

.background-image-tipps{
    background-image: url('../img/image_background/background_image_tipps.jpg');

}